@font-face {
	font-family: 'Brown';
	src: url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Bold.eot');
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Bold.woff') format('woff'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Bold.ttf') format('truetype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Bold.svg#af89fadfea79b3d558091c66d2781cc1') format('svg');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Brown';
	src: url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-BoldItalic.eot');
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-BoldItalic.woff') format('woff'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-BoldItalic.ttf') format('truetype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-BoldItalic.svg#e1b8ec3e9cb6771bf933f90eeb96ac04') format('svg');
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: 'Brown';
	src: url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Regular.eot');
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Regular.eot?#iefix') format('embedded-opentype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Regular.woff') format('woff'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Regular.ttf') format('truetype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Regular.svg#cb949fd85f8000f3cce3ca82f021b4fa') format('svg');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Brown';
	src: url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Italic.eot');
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Italic.eot?#iefix') format('embedded-opentype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Italic.woff') format('woff'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Italic.ttf') format('truetype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Italic.svg#9834fcd58e0fedf7bca92e5a6ca77007') format('svg');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Brown';
	src: url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Light.eot');
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Light.eot?#iefix') format('embedded-opentype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Light.woff') format('woff'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Light.ttf') format('truetype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Light.svg#b8ba800d4ad13bc5683242a40790af2c') format('svg');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Brown';
	src: url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-LightItalic.eot');
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-LightItalic.woff') format('woff'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-LightItalic.ttf') format('truetype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-LightItalic.svg#99c12b1935ce1e53c83ea12978466055') format('svg');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'Brown';
	src: url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Thin.eot');
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Thin.eot?#iefix') format('embedded-opentype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Thin.woff') format('woff'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Thin.ttf') format('truetype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-Thin.svg#12b848c0c72f22aa58669d2c4634d5aa') format('svg');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'Brown';
	src: url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-ThinItalic.eot');
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-ThinItalic.woff') format('woff'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-ThinItalic.ttf') format('truetype'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/BrownStd-ThinItalic.svg#1a116aac78dd46d640013b9ca2073266') format('svg');
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: 'Didot';
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/Didot-Italic.woff2') format('woff2'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/Didot-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Didot';
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/Didot-Bold.woff2') format('woff2'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/Didot-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Didot';
	src:
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/Didot.woff2') format('woff2'),
		url('https://fastly.hautelookcdn.com/cjkoh0ekb00qi0mpfuuxjs2en/Didot.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

.hautelook.static-page {
	font-family: "Brown STD", "Brown", "BrownSTD", "Futura PT", Arial, sans-serif;
}

.nordstromrack.static-page {
	font-family: "Brown STD", "Brown", "BrownSTD", "Futura PT", Arial, sans-serif;
}
