.promo-page {
	font-size: 5vw; //16px
	position: relative;

	@media screen and (min-width: 640px) {
		font-size: 16px;
	}
}

.nike-sidenav {
	display: none;

	@media screen and (min-width: 960px) {
		display: inline-block;
		transform: rotate(90deg);
		position: fixed;
		right: -230px;
		top: 50%;
		transition: 0.2s ease-in-out right;

		&.active {
			right: -190px;
		}
	}

	.nike-sidenav-list {
		display: inline-block;
		list-style-type: none;

		li {
			display: inline-block;

			&:hover {
				background: #eee;
			}

			&:nth-child(1).active {
				background: #c7fc0f !important;
			}

			&:nth-child(2).active {
				background: #ffea00 !important;
			}

			&:nth-child(3).active {
				background: #2c95b5 !important;

				a {
					color: #fff;
				}
			}
		}
	}

	a {
		display: block;
		padding: 0.75em 3em;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 600;
		text-decoration: none;
		color: #000;
	}
}

@import "_hero";
@import "_navbar";
@import "_sections";
@import "_blocks";
