.nike-section {
	margin-top: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 1fr;

	@media screen and (min-width: 640px) {
		grid-template-rows: 1fr;
	}

	@media screen and (min-width: 960px) {
		grid-template-columns: 1fr 482px 482px 1fr;
	}

	.content {
		border: 1px solid #d0d0d0;
		background-image: url(https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/light-pattern.svg);
		background-size: 20px 20px;
		background-position: center center;
		background-attachment: fixed;
		grid-column: 1;
		grid-row: 1;
		margin-bottom: 4em;
		margin-right: 0.25em;
		display: grid;
		grid-template-columns: 1fr;
		position: relative;
		z-index: -2;

		@media screen and (min-width: 640px) {
			background-size: 50px 50px;
			border: 2px solid #d0d0d0;
			grid-template-columns: 480px;
			margin-right: 1em;
		}

		@media screen and (min-width: 960px) {
			grid-column: 1/span 2;
			grid-template-columns: 1fr 480px;
		}

		h2 {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			align-content: flex-start;
			justify-content: flex-end;
			margin-top: -0.5em;
			margin-bottom: 2em;
			font-size: 2.2em;
			color: #c7fc0f;
			text-transform: uppercase;
			line-height: 0.9;
			justify-self: center;
			grid-row: 1;
			grid-column: 1;

			@media screen and (min-width: 640px) {
				font-size: 7.2em;
				margin-bottom: 1em;
			}

			@media screen and (min-width: 960px) {
				grid-column: 2;
			}

			span {
				position: sticky;
				top: 2em;
				z-index: -1;

				@media screen and (min-width: 640px) {
					top: 0.75em;
				}
			}
		}

		.shoe {
			height: auto;
			width: 90%;
			position: sticky;
			top: 50%;
			transform: translateY(-50%);
			margin: 20em auto 1em;
			grid-row: 1;
			grid-column: 1;
			z-index: -2;

			@media screen and (min-width: 640px) {
				width: 80%;
			}

			@media screen and (min-width: 960px) {
				grid-column: 2;
			}
		}
	}

	.nike-btn {
		display: block;
		font-size: 0.875em;
		font-weight: 600;
		padding: 0.75em 2em;
		background: #c7fc0f;
		color: #000;
		text-decoration: none;
		margin: 1em auto;
		justify-self: center;
		align-self: center;

		&:hover {
			background: darken(#c7fc0f, 10%);
		}
	}

	.product-grid {
		grid-column: 1/span 2;
		grid-row: 1/span 2;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 0.5em;
		row-gap: 1em;
		margin-right: 0.25em;
		margin-left: 0.25em;

		@media screen and (min-width: 640px) {
			grid-row: 1;
			grid-column: 2;
		}

		@media screen and (min-width: 960px) {
			grid-column: 3;
		}

		.product-0 {
			grid-column: 2;
			grid-row: 1;

			@media screen and (min-width: 640px) {
				grid-column: 1;
			}
		}

		.product-1 {
			grid-column: 2;
			grid-row: 2;

			@media screen and (min-width: 640px) {
				grid-row: 1;
			}
		}

		.product-2 {
			grid-column: 2;
			grid-row: 3;

			@media screen and (min-width: 640px) {
				grid-column: 1;
				grid-row: 2;
			}
		}

		.product-3 {
			grid-column: 2;
			grid-row: 4;

			@media screen and (min-width: 640px) {
				grid-column: 2;
				grid-row: 2;
			}
		}

		.product-4 {
			grid-column: 1;
			grid-row: 5;

			@media screen and (min-width: 640px) {
				grid-column: 1;
				grid-row: 3;
			}
		}

		.product-5 {
			grid-column: 2;
			grid-row: 5;

			@media screen and (min-width: 640px) {
				grid-column: 2;
				grid-row: 3;
			}
		}

		.product-6 {
			grid-column: 1;
			grid-row: 6;

			@media screen and (min-width: 640px) {
				grid-column: 1;
				grid-row: 4;
			}
		}

		.product-7 {
			grid-column: 2;
			grid-row: 6;

			@media screen and (min-width: 640px) {
				grid-column: 2;
				grid-row: 4;
			}
		}

		.product-8 {
			display: none;

			@media screen and (min-width: 640px) {
				display: block;
				grid-column: 1;
				grid-row: 5;
			}
		}

		.product-9 {
			display: none;

			@media screen and (min-width: 640px) {
				display: block;
				grid-column: 2;
				grid-row: 5;
			}
		}

		.nike-btn {
			grid-column: 1/span 2;
			grid-row: 7;
			justify-self: center;

			@media screen and (min-width: 640px) {
				font-size: 1.5em;
				grid-row: 6;
			}
		}
	}
}

.nike-section.reverse {
	.content {
		grid-column: 2;
		margin-right: 0;
		margin-left: 0.25em;

		@media screen and (min-width: 960px) {
			grid-template-columns: 480px 1fr;
			grid-column: 3/span 2;

			.shoe,
			h2 {
				grid-column: 1;
			}
		}
	}

	.product-grid {
		@media screen and (min-width: 640px) {
			margin-right: 1em;
			grid-column: 1;
		}

		@media screen and (min-width: 960px) {
			grid-column: 2;
		}

		.product-0 {
			grid-column: 1;
			grid-row: 1;
		}

		.product-1 {
			grid-column: 1;
			grid-row: 2;

			@media screen and (min-width: 640px) {
				grid-column: 2;
				grid-row: 1;
			}
		}

		.product-2 {
			grid-column: 1;
			grid-row: 3;

			@media screen and (min-width: 640px) {
				grid-column: 1;
				grid-row: 2;
			}
		}

		.product-3 {
			grid-column: 1;
			grid-row: 4;

			@media screen and (min-width: 640px) {
				grid-column: 2;
				grid-row: 2;
			}
		}
	}
}


.nike-section.alternate1 {
	.content {
		border: 1px solid #f5f5f5;
		background-image: url(https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/dark-pattern.svg);

		@media screen and (min-width: 640px) {
			border: 2px solid #f5f5f5;
		}

		h2 {
			color: #ffea00;
		}

		.box {
			background: #ffea00;
		}
	}

	.nike-btn {
		background: #ffea00;

		&:hover { background: darken(#ffea00, 10%); }
	}
}

.nike-section.alternate2 {
	.content {
		background-image: url(https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/blue-pattern.svg);
		border: 1px solid #ceeaef;

		@media screen and (min-width: 640px) {
			border: 2px solid #ceeaef;
		}

		h2 {
			color: #2c95b5;
		}

		.box {
			background: #2c95b5;
		}
	}

	.nike-btn {
		background: #2c95b5;
		color: #fff;

		&:hover { background: darken(#2c95b5, 10%); }
	}
}

.airmax270-title {
	margin-left: 0.1em;

	@media screen and (min-width: 640px) {
		margin-left: 0;
	}

	span:nth-child(1) {
		margin-top: 8em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(2) {
		margin-top: 11em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(3) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(4) {
		margin-left: 0.2em;
		margin-top: 6em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(5) {
		margin-top: 10em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(6) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(7) {
		transform: translateY(1em);
		margin-top: 3em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(8) {
		transform: translateY(1em);
		margin-top: 1em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(9) {
		transform: translateY(1em);
		margin-top: 2em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}
}

.airmax1-title {
	margin-left: 0.1em;

	@media screen and (min-width: 640px) {
		margin-left: 0;
	}

	span:nth-child(1) {
		margin-top: 8em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(2) {
		margin-top: 11em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(3) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(4) {
		margin-left: 0.2em;
		margin-top: 6em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(5) {
		margin-top: 10em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(6) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(7) {
		transform: translateY(1em);
		margin-top: 3em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(8) {
		transform: translateY(1em);
		margin-top: 1em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(9) {
		transform: translateY(1em);
		margin-top: 2em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}
}

.airmaxplus-title {
	margin-right: 0.1em;
	justify-content: flex-end;

	@media screen and (min-width: 640px) {
		margin-right: 0;
	}

	span:nth-child(1) {
		margin-top: 8em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(2) {
		margin-top: 11em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(3) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(4) {
		margin-left: 0.2em;
		margin-top: 6em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(5) {
		margin-top: 10em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(6) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(7) {
		transform: translateY(1em);
		margin-top: 1em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(8) {
		transform: translateY(1em);
		margin-top: 3em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(9) {
		transform: translateY(1em);
		margin-top: 2em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(10) {
		transform: translateY(1em);
		margin-top: 1em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}
}

.pegasus-title {
	flex-wrap: nowrap !important;

	span:nth-child(1) {
		margin-top: 8em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(2) {
		margin-top: 11em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(3) {
		margin-top: 5em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(4) {
		margin-top: 6em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(5) {
		margin-top: 10em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(6) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(7) {
		margin-top: 9em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}
}

.m2ktekno-title {
	justify-content: flex-end;

	span:nth-child(1) {
		margin-top: 8em;
		margin-left: 2em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(2) {
		margin-top: 11em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(3) {
		margin-top: 5em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(4) {
		transform: translateY(1em);
		margin-top: 2em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(5) {
		transform: translateY(1em);
		margin-top: 4em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(6) {
		transform: translateY(1em);
		margin-top: 5em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(7) {
		transform: translateY(1em);
		margin-top: 3em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(8) {
		transform: translateY(1em);
		margin-top: 4em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}
}

.tanjun-title {
	flex-wrap: nowrap !important;

	span:nth-child(1) {
		margin-top: 8em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(2) {
		margin-top: 11em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(3) {
		margin-top: 5em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(4) {
		margin-top: 6em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(5) {
		margin-top: 10em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(6) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}
}

.airmax98-title {
	margin-left: 0.1em;

	@media screen and (min-width: 640px) {
		margin-left: 0;
	}

	span:nth-child(1) {
		margin-top: 8em;

		@media screen and (min-width: 640px) {
			margin-top: (random(50)+10) + %;
		}
	}

	span:nth-child(2) {
		margin-top: 11em;

		@media screen and (min-width: 640px) {
			margin-top: (random(50)+10) + %;
		}
	}

	span:nth-child(3) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(50)+10) + %;
		}
	}

	span:nth-child(4) {
		margin-left: 0.2em;
		margin-top: 6em;

		@media screen and (min-width: 640px) {
			margin-top: (random(50)+10) + %;
		}
	}

	span:nth-child(5) {
		margin-top: 10em;

		@media screen and (min-width: 640px) {
			margin-top: (random(50)+10) + %;
		}
	}

	span:nth-child(6) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(50)+10) + %;
		}
	}

	span:nth-child(7) {
		transform: translateY(1em);
		margin-top: 3em;

		@media screen and (min-width: 640px) {
			margin-top: random(50) + %;
		}
	}

	span:nth-child(8) {
		transform: translateY(1em);
		margin-top: 1em;

		@media screen and (min-width: 640px) {
			margin-top: random(50) + %;
		}
	}
}

.airforceone-title {
	margin-right: 0.1em;
	justify-content: flex-end;

	span:nth-child(1) {
		margin-top: 8em;
		margin-left: 2.5em;

		@media screen and (min-width: 640px) {
			margin-left: 2em;
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(2) {
		margin-top: 11em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(3) {
		margin-top: 5em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(4) {
		transform: translateY(1em);
		margin-top: 2em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(5) {
		transform: translateY(1em);
		margin-top: 4em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(6) {
		transform: translateY(1em);
		margin-top: 5em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(7) {
		transform: translateY(1em);
		margin-top: 3em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(8) {
		transform: translateY(1em);
		margin-top: 4em;
		margin-right: 0.2em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(9) {
		transform: translateY(1em);
		margin-top: 6em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}
}

.vapormax-title {
	margin-right: 0.1em;
	justify-content: flex-end;

	@media screen and (min-width: 640px) {
		margin-right: 0;
	}

	span:nth-child(1) {
		margin-top: 8em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(2) {
		margin-top: 11em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(3) {
		margin-top: 12em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(4) {
		margin-top: 6em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(5) {
		margin-top: 10em;

		@media screen and (min-width: 640px) {
			margin-top: (random(100) + 50) + %;
		}
	}

	span:nth-child(6) {
		transform: translateY(1em);
		margin-top: 2em;
		margin-left: 0.2em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(7) {
		transform: translateY(1em);
		margin-top: 1em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}

	span:nth-child(8) {
		transform: translateY(1em);
		margin-top: 3em;

		@media screen and (min-width: 640px) {
			margin-top: random(100) + %;
		}
	}
}
