<div class="footer-section">
	<h3 class="sectiontitle">Can't Wait?</h3>
	<p class="sectiontext">Check out what’s new at<br class="_hidedesktop"> <a href="https://www.nordstromrack.com/" class="sectionlink">nordstromrack.com</a> and<br class="_hidedesktop"> <a href="https://www.hautelook.com/" class="sectionlink">HauteLook</a>.</p>
	<p class="sectiontext">Don’t forget&mdash;there’s<br class="_hidedesktop"> more in stores.</p>
	<a href="https://stores.nordstromrack.com/search" class="find-rack">Find Your Rack</a>
</div>
