<div class="promo-intro marquee-section active">
	<div class="marquee"><p class="online-flash-event">48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> 48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific <span class="divider">|</span> </p></div>
</div>

<!--

<div class="promo-intro">
	<p>48 Hours Only <span class="divider">|</span> Ends 10/31 at 8AM Pacific</p>
</div>
-->
