<div class="resort-navbar -sticky">
	<div class="navbarwrapper">
		<ul class="resort-nav">
			<li class="navitem -first">
				<a href="#" class="navlink -active">Womens</a>
				<ul class="resort-subnav">
					<li class="subnavitem"><span class="navtitle">Swimwear</span>
						<ul class="resort-subsubnav">
							<li class="subnavitem"><a href="#" class="navlink">One-Pieces Under $40</a></li>
							<li class="subnavitem"><a href="#" class="navlink">Bikini Separates Under $25</a></li>
							<li class="subnavitem"><a href="#" class="navlink">Active Swim</a></li>
							<li class="subnavitem"><a href="#" class="navlink">Bold Cover-Ups</a></li>
						</ul>
					</li>
					<li class="subnavitem"><span class="navtitle">Featured Brands</span>
						<ul class="resort-subsubnav">
							<li class="subnavitem"><a href="#" class="navlink">Brand 1</a></li>
							<li class="subnavitem"><a href="#" class="navlink">Brand 2</a></li>
							<li class="subnavitem"><a href="#" class="navlink">Brand 3</a></li>
						</ul>
					</li>
					<li class="subnavitem"><span class="navtitle">Shoes</span>
						<ul class="resort-subsubnav">
							<li class="subnavitem"><a href="#" class="navlink">Sandals</a></li>
							<li class="subnavitem"><a href="#" class="navlink">Espadrilles</a></li>
							<li class="subnavitem"><a href="#" class="navlink">Mules &amp; Slides</a></li>
						</ul>
					</li>
					<li class="subnavitem"><span class="navtitle">Accessories</span>
						<ul class="resort-subsubnav">
							<li class="subnavitem"><a href="#" class="navlink">Hats</a></li>
							<li class="subnavitem"><a href="#" class="navlink">Sun</a></li>
							<li class="subnavitem"><a href="#" class="navlink">Luggage &amp; Travel Accessories</a></li>
							<li class="subnavitem"><a href="#" class="navlink">Skin Care &amp; Beauty</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="navitem -last">
				<a href="#" class="navlink">Mens</a>
			</li>
		</ul>
	</div>
</div>
