	<div class="bbbs-navbar" id="nav-height">
		<div class="wrapper">
			<input class="menu-btn" type="checkbox" id="menu-btn" />
			<label class="menu-icon" for="menu-btn">
			<i class="demo-icon icon-down-open">&#xf004;</i>
			</label>
			<div class="logo _hidedesktop"><img src="https://fastly.hautelookcdn.com/cjtetz7w200x10nptbt5hyrpr/BBBS-NR-Logo.png" alt="NR | BBBS Logo" class="logo-asset"></div>
			<ul class="menu" id="bbbs-nav">
			<li class="logo _hidemobile"><a href="/"><img src="https://fastly.hautelookcdn.com/cjtetz7w200x10nptbt5hyrpr/BBBS-NR-Logo.png" alt="NR | BBBS Logo" class="logo-asset"></a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#video">Video</a></li>
			<li><a href="#stories">Stories</a></li>
			<li class="donate-button"><a href="https://www.bbbs.org/nordstrom">Donate</a></li>
			</ul>
		</div>
	</div>
