<div class="promo_container promo_shopnow text-center {{shopnowClass}}">
		<div class="nr-only">
			<p><span class="shopnow_title">Can't wait?</span><br/>
			<p class="nr-p">Shop designer collections at <br>nordstromrack.com and <a href="https://www.nordstromrack.com/store-locator">in store</a>.</p>
			<a class="shopnow_link_button" href="https://www.nordstromrack.com/shops/36">Shop Now</a>
		</div>
	<div class="hl-only">
		<p><span class="shopnow_title">Can't wait?</span><br/>
		<span class="explore">Explore what's new on HauteLook.</span></p>
		<a class="shopnow_link_button" href="https://www.hautelook.com">Shop No<span class="ls0">w</span></a>
		<p>Don't forget&mdash;there's more at Nordstrom Rack stores.</p>
		<a class="shopnow_link" href="https://www.nordstromrack.com/store-locator">Shop No<span class="ls0">w</span></a>
	</div>
</div>
