<div id="sideNav" class="nike-sidenav">
	<div class="nike-sidenav-wrapper">
		<ul class="nike-sidenav-list">
			<li><a href="#women">Women</a></li><li>
			<a href="#men">Men</a></li><li>
			<a href="#kids">Kids</a></li>
		</ul>
	</div>
</div>
