<div id="stickynav" class="nike-navbar">
	<div class="nike-navbar-wrapper">
		<a href="#" class="navbar-header"><img src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/Logo_NIKE.svg" alt="Nike" class="nav-logo"> <span>Nike Private Sale</span></a>
		<ul class="nike-nav">
			<li><a href="/events/327702">Shop Women</a></li>
			<li><a href="/events/327704">Shop Men</a></li>
			<li><a href="/events/327761">Shop Kids</a></li>
		</ul>
	</div>
</div>
