---
layout: default.hbs
businessUnit: hautelook
preview: false
---
<!-- <link rel="stylesheet" href="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/nike.css"> -->
{{> scripts}}
{{> header}}
{{!-- begin: content container --}}
<div class="promo-page">
	{{> sidenav}}
	<div class="nike-hero">
		<img src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/Logo_NIKE.svg" alt="Nike" class="nike-logo">
		<h1 class="hero-header">NIKE</h1>
		<img class="private-sale" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/private-sale.svg" alt="Private Sale">
		<p class="hero-copy">You'll only find these Nike styles here<br/>
		and nowhere else at nordstromrack.com.</p>
	</div>
	{{> intro}}
	{{> stickynav}}
	<div id="women">
		<div class="nike-section">
			<div class="content blockset1">
				<h2 class="airmax270-title"><span>A</span><span>i</span><span>r</span> <span>M</span><span>a</span><span>x</span> <span>2</span><span>7</span><span>0</span></h2>
				<img class="airmax270 shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmaix270.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmaix270.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmaix270@2x.png 2x" alt="Nike Airmax 270">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="womenProduct1" class="product-grid">
				<a href="/events/327702" class="nike-btn">Shop Women's Shoes</a>
			</div>
		</div>
		<div class="nike-section reverse">
			<div class="content blockset2">
				<h2 class="airmaxplus-title"><span>A</span><span>i</span><span>r</span> <span>M</span><span>a</span><span>x</span> <span>P</span><span>l</span><span>u</span><span>s</span></h2>
				<img class="airmaxplus shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmaxplus.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmaxplus.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmaxplus@2x.png 2x" alt="Nike Airmax Plus">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="womenProduct2" class="product-grid">
				<a href="/events/327702" class="nike-btn">Shop Women's Shoes</a>
			</div>
		</div>
		<div class="nike-section">
			<div class="content blockset3">
				<h2 class="airmax1-title"><span>A</span><span>i</span><span>r</span> <span>M</span><span>a</span><span>x</span> <span>1</span></h2>
				<img class="airmax1 shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmax1.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmax1.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmax1@2x.png 2x" alt="Nike Airmax 270">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="womenProduct3" class="product-grid">
				<a href="/events/327702" class="nike-btn">Shop Women's Shoes</a>
			</div>
		</div>
		<div class="nike-section reverse">
			<div class="content blockset4">
				<h2 class="airforceone-title"><span>A</span><span>i</span><span>r</span> <span>F</span><span>o</span><span>r</span><span>c</span><span>e</span> <span>1</span></h2>
				<img class="airmax1 shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airforce1-2.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airforce1-2.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airforce1-2@2x.png 2x" alt="Nike Airmax 270">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="womenProduct4" class="product-grid">
				<a href="/events/327702" class="nike-btn">Shop Women's Shoes</a>
			</div>
		</div>
	</div>
	<div id="men">
		<div class="nike-section alternate1">
			<div class="content blockset1">
				<h2 class="pegasus-title"><span>P</span><span>e</span><span>g</span><span>a</span><span>s</span><span>u</span><span>s</span></h2>
				<img class="pegasus shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/pegasus.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/pegasus.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/pegasus@2x.png 2x" alt="Pegasus">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="menProduct1" class="product-grid">
				<a href="/events/327704" class="nike-btn">Shop Men's Shoes</a>
			</div>
		</div>
		<div class="nike-section alternate1 reverse">
			<div class="content blockset2">
				<h2 class="m2ktekno-title"><span>M</span><span>2</span><span>k</span> <span>T</span><span>e</span><span>k</span><span>n</span><span>o</span></h2>
				<img class="m2ktekno shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/m2ktekno.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/m2ktekno.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/m2ktekno@2x.png 2x" alt="M2K Tekno">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="menProduct2" class="product-grid">
				<a href="/events/327704" class="nike-btn">Shop Men's Shoes</a>
			</div>
		</div>
		<div class="nike-section alternate1">
			<div class="content blockset3">
				<h2 class="vapormax-title"><span>V</span><span>a</span><span>p</span><span>o</span><span>r</span> <span>M</span><span>a</span><span>x</span></h2>
				<img class="vapormax shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/vapormax.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/vapormax.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/vapormax@2x.png 2x" alt="Vapor Max">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="menProduct3" class="product-grid">
				<a href="/events/327704" class="nike-btn">Shop Men's Shoes</a>
			</div>
		</div>
		<div class="nike-section alternate1 reverse">
			<div class="content blockset4">
				<h2 class="airmax270-title"><span>A</span><span>i</span><span>r</span> <span>M</span><span>a</span><span>x</span> <span>2</span><span>7</span><span>0</span></h2>
				<img class="airmax270 shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmax270-2.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmax270-2.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmax270-2@2x.png 2x" alt="Airmax270">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="menProduct4" class="product-grid">
				<a href="/events/327704" class="nike-btn">Shop Men's Shoes</a>
			</div>
		</div>
	</div>
	<div id="kids">
		<div class="nike-section alternate2">
			<div class="content blockset1">
				<h2 class="tanjun-title"><span>T</span><span>a</span><span>n</span><span>j</span><span>u</span><span>n</span></h2>
				<img class="tanjun shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/tanjun.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/tanjun.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/tanjun@2x.png 2x" alt="Nike Tanjun">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="kidsProduct1" class="product-grid">
				<a href="/events/327761" class="nike-btn">Shop Kids' Shoes</a>
			</div>
		</div>
		<div class="nike-section alternate2 reverse">
			<div class="content blockset2">
				<h2 class="airforceone-title"><span>A</span><span>i</span><span>r</span> <span>F</span><span>o</span><span>r</span><span>c</span><span>e</span> <span>1</span></h2>
				<img class="airforceone shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airforceone.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airforceone.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airforceone@2x.png 2x" alt="Nike Air Force One">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="kidsProduct2" class="product-grid">
				<a href="/events/327761" class="nike-btn">Shop Kids' Shoes</a>
			</div>
		</div>
		<div class="nike-section alternate2">
			<div class="content blockset3">
				<h2 class="airforceone-title"><span>A</span><span>i</span><span>r</span> <span>F</span><span>o</span><span>r</span><span>c</span><span>e</span> <span>1</span></h2>
				<img class="airforceone shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airforce1-3.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airforce1-3.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airforce1-3@2x.png 2x" alt="Airforce One">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="kidsProduct3" class="product-grid">
				<a href="/events/327761" class="nike-btn">Shop Kids' Shoes</a>
			</div>
		</div>
		<div class="nike-section alternate2 reverse">
			<div class="content blockset4">
				<h2 class="airmax98-title"><span>A</span><span>i</span><span>r</span> <span>M</span><span>a</span><span>x</span> <span>9</span><span>8</span></h2>
				<img class="airmax98 shoe" src="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmax98.png" srcset="https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmax98.png 1x, https://fastly.hautelookcdn.com/ck1r7wpak01d71frofvr0buhj/airmax98@2x.png 2x" alt="Nike Air Force One">
				<span class="block block1"></span>
				<span class="block block2"></span>
				<span class="block block3"></span>
				<span class="block block4"></span>
			</div>
			<div id="kidsProduct4" class="product-grid">
				<a href="/events/327761" class="nike-btn">Shop Kids' Shoes</a>
			</div>
		</div>
	</div>
</div>

<script>

	var controller = new ScrollMagic.Controller();

	// build scenes
	new ScrollMagic.Scene({triggerElement: "#women"})
		.triggerHook(0)
		.setClassToggle("#sideNav", "active") // add class toggle
		.addTo(controller);

	var scroll = new SmoothScroll('.nike-sidenav-list a',{
		speed: 500,
		speedAsDuration: true,
		easing: 'easeInOutQuad'
	});

	var header = document.querySelector('#stickynav');
	var spy = new Gumshoe('#sideNav a', {
		offset: function () {
			return header.getBoundingClientRect().height;
		}
	});

</script>

{{> productfunction}}

<script>
	getProduct('womenProduct1', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Women&department=Shoes&brands=Nike&limit=8&sort=most_popular', 'women-product');
	getProduct('womenProduct2', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Women&department=Shoes&brands=Nike&limit=8&page=2&sort=most_popular', 'women-product');
	getProduct('womenProduct3', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Women&department=Shoes&brands=Nike&limit=8&page=3&sort=most_popular', 'women-product');
	getProduct('womenProduct4', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Women&department=Shoes&brands=Nike&limit=8&page=4&sort=most_popular', 'women-product');
	getProduct('menProduct1', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Men&department=Shoes&brands=Nike&limit=8&page=1&sort=most_popular', 'men-product');
	getProduct('menProduct2', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Men&department=Shoes&brands=Nike&limit=8&page=2&sort=most_popular', 'men-product');
	getProduct('menProduct3', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Men&department=Shoes&brands=Nike&limit=8&page=3&sort=most_popular', 'men-product');
	getProduct('menProduct4', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Men&department=Shoes&brands=Nike&limit=8&page=4&sort=most_popular', 'men-product');
	getProduct('kidsProduct1', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Kids&department=Girls%27%20Shoes&brands=Nike&limit=8&page=1&sort=most_popular', 'kids-product');
	getProduct('kidsProduct2', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Kids&department=Boys%27%20Shoes&brands=Nike&limit=8&page=1&sort=most_popular', 'kids-product');
	getProduct('kidsProduct3', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Kids&department=Girls%27%20Shoes&brands=Nike&limit=8&page=2&sort=most_popular', 'kids-product');
	getProduct('kidsProduct4', 'https://www.nordstromrack.com/api/search2/catalog/search?division=Kids&department=Boys%27%20Shoes&brands=Nike&limit=8&page=2&sort=most_popular', 'kids-product');
</script>

